{% extends "base.html" %} {% block title %} {% endblock title %} {% block main %} {% load static %}
<div id="conteudo">
    <div class="conteudo-inner">
        <div class="conteudo-wrapper">
            <div class="conteudo-titleSection">
                <strong class="conteudo-title">Dashboard</strong>

            </div>
            <div class="conteudo-box">
                <div class="conteudo-boxInner">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-2">

                            </div>


                            <div class="col-md-4 px-0 mx-0 text-center my-2">
                                <center>
                                    <a href="/mrlist">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top " src="{% static 'res/mr.jpg' %}" alt="icon">
                                            <div class="card-body">
                                                <p class="card-text h3 text-center"> Mr List</p>
                                            </div>
                                        </div>
                                    </a>
                                </center>

                            </div>


                            <div class="col-md-4 px-0 mx-0  my-2">
                                <center>
                                    <a href="/dr_list">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top " src="{% static 'res/doc.jpg' %}" alt="icon">
                                            <div class="card-body">
                                                <p class="card-text h3 text-center"> Doctors List</p>
                                            </div>
                                        </div>
                                    </a>
                                </center>


                            </div>


                            <div class="col-md-2">

                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-2">

                            </div>


                            <div class="col-md-4 text-center my-2">
                                <center>
                                    <a href="/add_slide">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top " src="{% static 'res/slide.png' %}" alt="icon">
                                            <div class="card-body">
                                                <p class="card-text h3 text-center"> Add Slide</p>
                                            </div>
                                        </div>
                                    </a>
                                </center>

                            </div>


                            <div class="col-md-4 my-2">
                                <center>
                                    <a href="/report">
                                        <div class="card" style="width: 14rem;">
                                            <img class="card-img-top " src="{% static 'res/rep.png' %}" alt="icon">
                                            <div class="card-body">
                                                <p class="card-text h3 text-center"> Reporters </p>
                                            </div>
                                        </div>
                                    </a>
                                </center>


                            </div>


                            <div class="col-md-2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card{
    border-radius: 0px;
    border-color: green;
}
</style>
{% endblock main %}