{% extends "base.html" %} {% block title %} {% endblock title %} {% block main %} {% load static %}



<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?&sensor=false&libraries=places"></script>
    
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4_UNfzhZ5fgL693P7yVcPlfMzFs6MdCw"></script> -->
    <script type="text/javascript" src="https://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js"></script>



<div id="conteudo">

  <div class="conteudo-inner">
      <div class="conteudo-wrapper">



          <div class="conteudo-box">
              <div class="conteudo-boxInner">
    
                <h5>Update Doctor</h5>

                <div class="form my-3">
                  <form action="/update_dr/{{up.id}}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    
                    <div class="row">
                      <div class="col">
                        <input required type="text" class="form-control" placeholder="Hospital Name" name="hospital_name" value="{{up.hospital_name}}">
                      </div>
                      <div class="col">
                        <input required type="email" class="form-control" placeholder="email" name="email" value="{{up.email}}">
                      </div>
                    </div>

                    <div class="row my-2">
                      <div class="col">
                        <input required type="text" class="form-control" placeholder="First Name" name="fname" value="{{up.first_name}}">
                      </div>
                      <div class="col">
                        <input  required type="text" class="form-control" placeholder="Last Name" name="lname" value="{{up.last_name}}">
                      </div>
                    </div>


          

              
                      <p class="text-danger">Update Location Also By clicking get location <span class="text-success"> location:{{up.latitude}}, {{up.longitude}}</span></p>
           

                    
                    <div class="row my-2">
                      <div class="col text-center ">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info text-white w-100 rounded-0"><span class="fa fa-map-marker"> </span> Get Location</button>
                      </div>
                      <div class="col">
                        <input required type="text" class="form-control" placeholder="lattitude" name="lat" id="lat" value="{{up.latitude}}">
                      </div>
                      <div class="col">
                        <input required type="text"  class="form-control" placeholder="longitide" name="long" id="lng" value="{{up.longitude}}">
                      </div>
                    </div>

                    <div class="row">

          
                      <div class="col">
                        <input required type="number" class="form-control" placeholder="Mobile" name="mobile" value="{{up.mobile}}">
                      </div>

                      <div class="col">
                        <input  required type="text" class="form-control  " placeholder="Mr User Name" name="user_name" value="{{up.mr_username}}">
                      </div>
                  
                    </div>


                    <div class="row">
          
                        <div class="col">
                          <input required type="text" class="form-control" placeholder="City" name="city" value="{{up.city}}">
                        </div>
                        <div class="col">
                          <input required type="text" class="form-control" placeholder="Category" name="category" value="{{up.category}}">
                        </div>
                      </div>



                      <div class="row my-2">
                      
                     

                        <div class="col">
                            <!-- <label for="formFileSm" class="form-label">Upload Profile Pic</label>
                            <input required class="form-control form-control-sm" id="formFileSm" type="file" name="profile" value="{{up.profile_pic}}"> -->
                        </div>
                      </div>



                    <a href="/dr_list">
                    <button type="button" class="btn btn-danger my-2">Cancel</button>
                    </a>

                    <button type="submit" class="btn btn-success my-2">Save</button>

                  </form>


                </div>

                </div>
     
        </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div id="us2" style="width: 100%; height: 400px;"></div> 

      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>


<script>

        $(function() {
     

          $('#us2').locationpicker({
          location: {latitude: 18.233747539216857, longitude: 75.69451256027808},   
          radius: 0,
          inputBinding: {
          latitudeInput: $('#lat'),
          longitudeInput: $('#lng'),
          locationNameInput: $('#location')
          },
          enableAutocomplete: true,
          onchanged: function(currentLocation, radius, isMarkerDropped) {
          alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
          }
          });


      });

</script>



{% endblock %}
